.separator {
    border-left: 1px solid #ccc;
    height: 56%;
    margin-right: 10px;
  }
  .hover-border-primary:hover {
    border: 1px solid #007bff; /* Replace #007bff with your primary color value */
  }
/* Orders.css */
.react-datepicker {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.react-datepicker__input-container {
  display: block;
  position: relative;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.react-datepicker__input-container input:focus {
  border-color: #007bff;
}

.react-datepicker__month-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.react-datepicker__header {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px;
}

.react-datepicker__day {
  padding: 5px;
  text-align: center;
}

.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day:hover {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}