.separator {
    border-left: 1px solid #ccc;
    height: 56%;
    margin-right: 10px;
  }
  .hover-border-primary:hover {
    border: 1px solid #007bff; /* Replace #007bff with your primary color value */
  }
